/* toolbox */
#tools {
  height: 49px;
  width: 720px;
}

#select, #pencil, #brush, #spray, #shape, #eyedrop {
  display: inline-block;
  height: 49px;
  margin-left: 2px;
  width: 49px;
}
/*.full-spectrum {
  border: 0;
  display: inline-block; 
  height: 40px;
  margin-left: 2px;
  margin-top: -35px;
  width: 40px;
}*/
#select {  
  background-image: url('http://i.imgur.com/AuWgd6R.png');
  background-position: 0px 0px; 
  background-repeat: no-repeat;
} 
#pencil { 
  background-image: url('http://i.imgur.com/AuWgd6R.png');
  background-position: 0px -51px;  
  background-repeat: no-repeat;
} 
#brush { 
  background-image: url('http://i.imgur.com/AuWgd6R.png');
  background-position: 0px -102px;  
  background-repeat: no-repeat;
} 
#spray { 
  background-image: url('http://i.imgur.com/AuWgd6R.png');
  background-position: 0px -153px;  
  background-repeat: no-repeat;
} 
#shape { 
  background-image: url('http://i.imgur.com/AuWgd6R.png');
  background-position: 0px -204px;  
  background-repeat: no-repeat;
} 
#eyedrop {
  background-image: url('http://i.imgur.com/AuWgd6R.png');
  background-position: 0px -255px;  
  background-repeat: no-repeat;
}


/* tool properties */
.prop {
  border: 1px solid #888;
  /*display: none;*/
  margin: 5px;
  padding: 5px;
  width: 262px;
}
.texture, .width, .opacity {
  display: block;
}
.texture > div {
  background-color: #ffffff;
  background-size: 50px 50px;
  display: inline-block;
  height: 50px;
  width: 50px;
}
.texture > div > img {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.width > input[type="text"], .opacity > input[type="text"] {
  margin-top: -10px;
  width: 40px !important;
}
.width > input[type="range"], .opacity > input[type="range"] {
  margin-top: -10px;
  width: 200px !important;
}


/* brush tool textures */
#brush1 {
  background-image: url('http://i.imgur.com/zA1il03.png');
  background-size: 50px 50px;
}
#brush2 {
  background-image: url('http://i.imgur.com/V5hEec6.png');
  background-size: 50px 50px;
}
#brush3 {
  background-image: url('http://i.imgur.com/qblhxtE.png');
  background-size: 50px 50px;
}
#brush4 {
  background-image: url('http://i.imgur.com/qEetlHY.png');
  background-size: 50px 50px;
}
#brush5 {
  background-image: url('http://i.imgur.com/BA8mCEO.png');
  background-size: 50px 50px;
}


/* selection area in canvas */
.selectarea {
  border: 1px dashed #666;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  position: absolute; 
  z-index: 1000;
}
