<!-- meteor template for canvas -->
<template name='canvas'>
  <!-- canvas --> 
  <div id="canvas-wrapper">
  <canvas id="canvas" class="canvas" width="1280" height="720"></canvas>
  </div>
  <!-- save button - saves current canvas contents to database -->
  <div id = "tools">
    <div id = "select">  </div>
    <div id = "pencil">  </div>
    <div id = "brush">   </div>
    <div id = "spray">   </div>
    <div id = "shape">   </div>
    <div id = "eyedrop"> </div>
    <!-- colorpicker 
         meteor add ryanswapp:spectrum-colorpicker -->
    <input type="text" id="colorpicker">
  </div>
 
  <button class="save-button">Save</button>
</template>
