<!-- meteor canvas for full meta-wall view and login/register --> 
<template name ="Wall">
  {{> registerForm }}
  {{> logInForm }}

  <div class="wall">
    {{#each rows}}
      <div class="row">
      {{#each blocks}}
        {{> Block}}
      {{/each}}
      </div>
    {{/each}}
  </div>
</template>

<template name="Block">
  <canvas id="{{block_id}}" class="block"></canvas>
</template>

<template name="registerForm">
  <form action="" method="GET">
    Username: <input type="text" name="username"><br>
    Email: <input type="email" name="email"><br>
    Password: <input type="password" name="password"><br>
    <input type="submit" value="Register">
  </form>
</template>
  
<template name="logInForm">
  <form action="" method="GET">
    Username: <input type="text" name="username"><br>
    Password: <input type="password" name="password"><br>
    <input type="submit" value="Log in">
  </form>
</template>
