* {
  padding: 0;
  margin: 0;
}

.wall {
  margin: 0 auto;
  margin-top: 20px;
  width: 90%;
}

.row:nth-child(even) {
  margin-left: 10%;
}

.row:nth-child(odd) {
  margin-right: 10%;
}

.block {
  width: 19%;
  border: 1px solid #000;
}
